ipykernel
streamlit
pandas
numpy
matplotlib
scipy
seaborn
scikit-learn==1.3.2
scikit-posthocs
imblearn
mlflow
imbalanced-learn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
langchain  
langchain-community 
langchain-core   
langchain-openai   
langchain-text-splitters    
langchainhub        
langsmith          
python-dotenv
SQLAlchemy
fpdf
pypdf
chromadb
pysqlite3-binary
shap
-e .